<div>
<form action="http://localhost:4000/info" method="POST">
<label for="name">name</label>
<input type="text" id="name" name="name" required/>
<label for="age">age</label>
<input type="text" id="age" name="age" required/>
<label for="role">role</label>
<input type="text" id="role", name="role" required/>
<label for="password">password</label>
<input type="password" id="password" name="password" required/>
<input type="submit" value="submit">
</form>
</div>
